wsdlit-membranesoa/src/test/resources/complexType/ComplexTypeElementSimpleType.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema
	elementFormDefault="qualified"
	targetNamespace="http://emprego.xunta.es/test/simple"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://emprego.xunta.es/test/simple">

	<xsd:simpleType name="ParentSimpleType">
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>

	<xsd:complexType name="ComplexType">
		<xsd:sequence>
			<xsd:element name="first" type="tns:ParentSimpleType" minOccurs="0" maxOccurs="4" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>